%header
  .wrapper
    %h1
      %span
        = link_to 'Aero Financial Partners', '/index.html', class: :home, relative: true
    %nav
      %ul
        %li<>
          = link_to 'Home', '/index.html', class: :home, relative: true
        %li<>
          = link_to 'About', '/about/index.html', class: 'about', relative: true
        %li<>
          = mail_to 'info@aerofinancialpartners.com', 'Contact', class: 'email', target: '_blank'
        %li<>
          = link_to 'Blog', '/blog/index.html', class: 'blog', relative: true






