= wrap_layout :layout do
  %main
    %section{ id: "section-article" }
      .wrapper

        %h3
          = current_page.data.title

        .index_link
          = link_to "Back to main page", '/blog/index.html'

        .article-date
          = current_page.data.date.strftime('%b %e, %Y')

        .article-text
          = yield
    %section{ id: "section-comments" }
      .wrapper



        #disqus_thread
        :javascript
           var disqus_shortname = 'aerofinancialpartners';
          (function() {
              var s = document.createElement('script'); s.async = true;
              s.type = 'text/javascript';
              s.src = '//' + disqus_shortname + '.disqus.com/count.js';
              (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            })();
         
        %noscript
          Please enable JavaScript to view the
          %a{:href=>"http://disqus.com/?ref_noscript=aerofinancialpartners"} comments
          powered by Disqus.
        %a.dsq-brlink{:href=>"http://disqus.com"}
          comments powered by 
          %span.logo-disqus Disqus
    


