---
title: "TeSLA: The World's Smallest Laptop Adapter, by FINsix"
js_file: views/tesla
has_hero: true
sections:
  - One
  - Two
  - Three
---

%main
  = partial 'tesla/hero'
  = partial 'components/subnav'

  - current_page.data.sections.each do |s|
    %section{ id: "section-#{ s.dasherize }" }
      = partial "tesla/sections/#{ s.underscore }"
